/* Дополнительная адаптивность модалки команды */

@media (max-height: 500px) and (orientation: landscape) {
    #team-modal .modal-content {
        max-height: 96vh;
        margin: 2px auto;
    }

    .team-info-header {
        margin-bottom: 10px;
        padding-bottom: 8px;
    }
}
